.login {
    max-width: 60%;
    margin: auto;
    margin-top: 0em;

    /* border: 2px solid red; */

    padding: 1em;

    text-align: center;

    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.container {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */

    border: none;
    box-shadow: none;

    padding: 0 2em;
}

.loginButton {
    margin: 10px;
    padding: 12px 30px;
    font-size: 1rem;
    color: white;
    border-radius: 1rem;
    height:50px;
    /* border: 2px solid transparent; */
    background: linear-gradient(to right, #5eae21, #70dd12);
    transition: all 0.3s ease;
    cursor: pointer;
    margin-right: 15px;
    font-weight: bold;
    border:none;
}

.login-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.login-right {
    margin-top: 200px;
    width: 40%;
    /* background-color: red; */
    background: url('https://img.freepik.com/premium-vector/person-with-green-blue-logo-that-says-name_1076610-66914.jpg') no-repeat center/cover;
}

.register {
    margin-top: -200px;
}