.business-register-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    text-align: center;

    margin-top: 8.5em;
  }
  
  .business-register-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  button {
    width: 100%;
    padding: 10px;
    /* background-color: #3498db; */
    /* color: #fff; */
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  

  
  .error {
    color: #e74c3c;
    margin-bottom: 15px;
  }
  
  p {
    margin-top: 15px;
  }
  
  a {
    color: #3498db;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .businessRegister {
    padding: 12px 24px;
    font-size: 1rem;
    color: white;
    border-radius: 1rem;
    height:60px;
    /* border: 2px solid transparent; */
    background: linear-gradient(to right, #5eae21, #70dd12);
    transition: all 0.3s ease;
    cursor: pointer;
    margin-right: 15px;
    font-weight: bold;
    border:none;
  }